/* PortalLayout.module.css */
.layout {
  display: flex;
  min-height: 100vh;
  background: #0a192f;
}

.main {
  margin-left: 260px;
  flex: 1;
  display: flex; flex-direction: column;
  min-height: 100vh;
  transition: margin-left .3s cubic-bezier(0.4,0,0.2,1);
  overflow: hidden;
}

.content {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

@media(max-width:1024px) {
  .main { margin-left: 0; }
}
